@page "/"

    <h1>Blazor ZMachine Player</h1>

<p>
    This simple site uses a C# ZMachine byte code interpreter running under WebAssembly in your browser.
</p>
<p>
The games listed work by retrieving the ZMachine program files from the <a href="https://github.com/historicalsource">Historical Source github archive</a>.
</p>

<h1>Limitations/TODOS</h1>

<ul>
    <li>save/restore not supported (may crash the machine if attempted)</li>
    <li>no command history</li>
</ul>


