<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor ZMachine Player</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zork1">
                <span class="oi oi-plus" aria-hidden="true"></span> Zork I
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zork2">
                <span class="oi oi-plus" aria-hidden="true"></span> Zork II
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="zork3">
                <span class="oi oi-plus" aria-hidden="true"></span> Zork III
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enchanter1">
                <span class="oi oi-plus" aria-hidden="true"></span> Enchanter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enchanter2">
                <span class="oi oi-plus" aria-hidden="true"></span> Sorcerer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enchanter3">
                <span class="oi oi-plus" aria-hidden="true"></span> Spellbreaker
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
